{% extends "layout.html" %}

{% load monitor_extras %}

{% block title %}Donate | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="container-fluid mt-3 pb-3">
        <div class="row">
            <div class="col-12">
                <h3>Donate</h3>
                <p>This site is free for anyone to use. If you want to help with our server costs, you can <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=NEJEQZWGC97PQ&currency_code=USD&source=url" target="_blank">donate here</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
