{% extends "layout.html" %}

{% load monitor_extras %}

{% block title %}Privacy Policy | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="container-fluid mt-3 pb-3">
        <div class="row">
            <div class="col-12">
                <h3>Privacy Policy</h3>
                <p>This site uses cookies to track user sessions, which helps us find your IP address so that we can check your internet provider's uptime. Your IP address is the only data that we keep from you, and it isn't linked to any of your personal data.</p>
                <p>We don't collect your email address or any other personal information. Your IP address is automatically purged from the site if you haven't viewed your ISP information in over seven days.</p>
                <p>We use Google Analytics to monitor traffic to the site. Google Analytics also tracks information like your location based on your IP address, your browser and operating system type, what time you viewed our site, etc. This information is not linked to you in any way outside of your IP address.</p>
                <p>If you have any questions about the data we gather, please contact us.</p>
            </div>
        </div>
    </div>
{% endblock %}
