{% extends "layout.html" %}

{% block body_content %}
    <p>Your IP: {{ monitor.ip_address }}</p>
    <p>Testing from: New York</p>
    <p>Latest latency: {{ monitor.last_latency }} ms</p>
    <p>Latest packet loss: {{ monitor.last_packet_loss }}%</p>

    {% if results %}
        {% for result in results %}
            {% if forloop.first %}
                <p>Most recent result from {{ result.date_created|date:"l, F j, Y @ g:i A e" }}:</p>
                <p>{{ result.content|linebreaks }}</p>
            {% else %}
                <p>{{ result.date_created|date:"l, F j, Y @ g:i A e" }}</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No results</p>
    {% endif %}
{% endblock %}
